.div {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.div .p p:nth-child(1) {
  font-weight: bold;
  font-style: italic;
}
.div .p p {
  text-align: initial;
}
.div .p {
  background-color: #c0d7fe;
  padding: 2rem;
}
.imagem {
  margin-top: 1rem;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: initial;
  opacity: 0.5;
  background-image: url('https://cdn.cinepop.com.br/2019/02/Comedians.jpg');
}
.imagem:hover {
  opacity: 0.8;
}
