@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.div {
  background-color: #c0d7ff;
  font-family: 'Open Sans', sans-serif;
}
.gridList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.listgrid {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  color: whitesmoke;
}
.listGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 4px;
  height: 100%;
  color: #6e47bb;
  transition: background-color 0.5s ease;
}
.listGrid:hover {
  background-color: #639aff;
  color: #fff;
}
.div:hover {
  background-color: #d7d7ff;
}

@media (max-width: 800px) {
  .gridList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .gridList {
    grid-template-columns: repeat(1, 1fr);
  }
}
