.loading {
  margin-top: 10rem;
  width: 20px;
  height: 20px;
  margin: 3rem auto;
  justify-self: center;
  border-radius: 50%;
  border: 5px solid rgb(152, 102, 251);
  border-right-color: transparent;
  animation: loading 1s infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
.animeLeft {
  transform: translate(-20px);
  opacity: 0;
  animation: animeLeft 0.7s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}
