.header {
  background: #eeea;
  padding: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://st4.depositphotos.com/14431644/24617/i/1600/depositphotos_246179504-stock-photo-text-sign-showing-need-more.jpg');
}
.header ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0.8rem;
}
.header ul li {
  background-color: #639aff;
  padding: 0.5rem;
  margin: 2rem auto;
  transition: transform 0.8s;
  transition-delay: 0.1s;
}

.header ul li:hover {
  text-transform: uppercase;

  background-color: #9866fb;
  border-radius: 0.5rem;
  transform: scale(1.2);
}
.header ul li a {
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
}
